.header-title{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}
.header-title img{
    width: 70px;
    height: 70px;
}
.header-body {
    background-color: gray;
    color: rgb(66, 230, 66);
    font-size: large;
    font-weight: 500;
    line-height: 30px;
    padding: 15px;
}
.header-body h2,small{
    margin: 0px;
}